body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, select, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

#tasks {
    margin-top: 20px;
}

.task {
    background: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #007bff;
}

.task.high {
    border-color: #dc3545;
}

.task.medium {
    border-color: #ffc107;
}

.task.low {
    border-color: #28a745;
}

.task.due-today {
    border-color: #dc3545; /* Cor vermelha */
}

.task.due-today h3 {
    color: #dc3545; /* Cor vermelha */
}
